@import "tailwindcss";

.brand-gradient-bg {
  background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
}

.brand-gradient-text {
  background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

html {
  scroll-behavior: smooth;
}